body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
navbar-nav{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-nav li {
    margin-left: 20px;
}
.navbar-nav li:first-child {
    margin-left: 0;
}
.navbar-nav li a {
    color: #030303;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
}
.logo  {
    height: 40px;
    margin-right: 170px;
  }
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color:white;
    border-radius: 4px;
    z-index: 1;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
    padding: 8px 12px;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1eeee;
    border-radius: 4px;
    color: rgb(24, 216, 24);
}
.image{
    position: relative;
}
.row-1{
    position: absolute;
    top: 0;
    color: white;
  margin-top: 100px;
  
}
.Header {
    
    font-size: 25px;
    text-align: left;
    margin-top: 50px
}
/* .P-1{
    font-family: DawningofaNewDay;
    font-weight: 400;
    font-size: 25.2px;
    line-height: 36px;
    margin-top: 0;
    text-align: center;
    color: var(--primary)
}
.P-2{
    color: var(--whiteLight);
    text-align: center;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin-top: 0
} */

/* .Home_homeSectionsContainer__g_IcZ {
    margin: 3% 20%;
    border-bottom: .5px solid var(--borderColor)
}
.Home_homeHeadingLine__D5Un0 {
    width: 70px;
    height: 2px;
    background-color: var(--secondary)
}
.Home_homeHeading__GhFoM {
    font-size: 21px;
    font-weight: 600;
    line-height: 36px;
    color: var(--primary);
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 15px
} */
.site-footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    
 

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 200px;
    padding: 0 20px;
}

.footer-heading {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.footer-social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-social-links li {
    margin-right: 20px;
}

.footer-social-links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;}